body{background-image: url('proj.jpeg');
background-size:cover;

}

i{color: rgb(218, 165, 22)
    ; }
h1{font-style: initial;
}
ins{font-family: cursive;}
h5{font-size: large;
   background-color: rgb(232, 253, 251);
   border-color: rgb(25, 9, 172);
   text-align: justify;
}
table,tr,th,td {border:1px solid black;
    border-collapse: collapse;
size: 100px;;
table-layout: auto;

}
table{
    width: 80%;
    height: 2%;
}
th{color: rgb(4, 40, 158);
background-color: rgb(218, 253, 221)
}
tr{background-color: rgb(236, 5, 5);}
tr{height: 100%;}
.about{
    color: tomato;
    display: inline-block;
}
.meals{color: rgb(231, 135, 8);
       display: grid;
}











































































































































